
  .carousel-indicators {
    position: absolute;
    top: -30px;
    height: 30px;
    margin-bottom: 50px;
    }
    .carousel-indicators .active{
        background-color:gray;
    }

    .carousel-indicators li {
       
        background-color:darkgray;
           
    }

    .carousel-caption {
        position: relative;
        left: 0;
        bottom: 0;
        
        color: black;
    }