**

# api
!packages/api/config
!packages/api/src
!packages/api/package*.json
!packages/api/tsconfig.json
!packages/api/bin.js
!packages/api/pkg-readme.md

# ui
!packages/ui

# license-api
!packages/license-api/models
!packages/license-api/routes
!packages/license-api/services
!packages/license-api/go*
!packages/license-api/server.go

# landing-page
!packages/landing-page

# docs
!packages/docs

# intellij-plugin
!packages/intellij-plugin/gradle
!packages/intellij-plugin/src
!packages/intellij-plugin/*.kts

# vscode-plugin
!packages/vscode-plugin/src
!packages/vscode-plugin/package.json
!packages/vscode-plugin/webpack.config.js
!packages/vscode-plugin/webview
!packages/vscode-plugin/favicon-16x16.png
!packages/vscode-plugin/media
!packages/vscode-plugin/out
!packages/vscode-plugin/tsconfig.json
!packages/vscode-plugin/tsconfig.node.json
!packages/vscode-plugin/tsconfig.web.json

