**

# api
!packages/api/config
!packages/api/src
!packages/api/package*.json
!packages/api/tsconfig.json
!packages/api/bin.js
!packages/api/pkg-readme.txt

# ui
!packages/ui

# license-api
!packages/license-api/models
!packages/license-api/routes
!packages/license-api/services
!packages/license-api/go*
!packages/license-api/server.go

# landing-page
!packages/landing-page

# docs
!packages/docs