/* You can add global styles to this file, and also import other style files */
body {
  font-family: Mierb, Inter, arial, sans-serif;
}

.blue-color {
  color: #135665 !important;
}

.main-caption {
  font-size: 2.5vw !important;
  color: #135665 !important;
}

.second-caption {
  font-size: 1.5vw !important;
}

.header-caption {
  font-size: 1.2vw !important;
  color: #135665 !important;
}

.section-text {
  display: block
}

.header-section {
  display: block
}

.header-section > i{
  font-size: 0.6vw;
  vertical-align: middle;
}

.what-is-it-text {
  text-align: center;
  display: block;
  margin-bottom: 2vw;
}

.what-is-it-text > * {
  vertical-align: middle;
}

.what-is-it-text > span {
  font-size: 1.2vw;
  font-weight: bold;
}

.what-is-it-text > i {
  margin-left: 1vw;
}

.welcome-text {
  font-size: 1.5vw; margin-bottom: 1vw; border-left: 2px solid black; padding-left: 0.5vw;    border-radius: 0 0 0 0.5vw;
}

.welcome-text > span{
  font-size: 1.5vw !important;
}
