@import '~styles.scss';

#topbox {
  background-color: $background-menu;
  display: flex;
  align-items: center;

  > button {
    margin: 3px;
    background-image: linear-gradient(to bottom, $background-gradient-top, $background-gradient-bottom);
    height: 2em;
    width: 2em;
    border-radius: 25px;
    text-align: center;
    border: none;

    &:hover {
      background-image: none;
      background-color: $background-selected;
      color: $background-menu;
    }
  }
}

.ccDropDown {
  margin-left: 10px;
  margin-right: 10px;
  background-image: linear-gradient(to right, $background-gradient-right, $background-gradient-left);


  > div {
    display: flex;
    margin: 5px;
    padding: 5px;
    align-items: center;

    &:hover {
      background-color: $background-secondary;
    }

    span:nth-child(2) {
      margin-left: 5px;
    }

    span:first-child {
      height: 2em;
      width: 2em;
      border-radius: 25px;
      background-color: $background-secondary;
      text-align: center;

      > img {
        vertical-align: middle;
        width: 1.5em;
        height: 1.5em;
        margin: auto;
      }
    }

  }
}

.skewed {
  background-image: linear-gradient(to bottom, $background-gradient-top, $background-gradient-bottom);
  transform: skewX(-20deg);
  height: 3em;
  width: 3em;
  margin-left: 7px;
  margin-right: 7px;
  > img {
    transform: skewX(20deg);
    text-align: center;
    height: 2.5em;
    width: 2.5em;
  }
}


/*********************************************************************************/

span.seperator {
  /* background-color: rgb(51,51,51); */
  /* margin-left: 4px; */
  margin-right: 4px;
  border-right: 1px solid rgb(51, 51, 51);
  /* border-left: 1px solid rgb(51,51,51); */
  padding-left: 2px;
  padding-right: 2px;
}

.filer {
  display: flex;
  /*height:900px;*/
}

.filer #bordered {
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

#filer #fileContent {
  margin: 0px;
  padding: 0px;
  width: 9000px;
}

#filer #codepre {
  margin: 0px;
  padding: 0px;
  display: inline-table;
}

#fileLoadInput {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.alignContentToCenter {
  text-align: center;
}

/*#nodeTitle {width:0px; height:0px; opacity: 0}*/

#nodeTitleInput {
  width: 400px;
  height: 100px;
}

#nodeStylePopup {
  position: absolute;
  z-index: 999;
}

.visjs {
}

.h100w50 {
  height: 100%;
  width: 50%;
}

.alignFlexToRight {
  justify-content: flex-end;
}

.fixedOnTopOfComponent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  width: inherit;
  /* height: fit-content; */
  z-index: 9;
  pointer-events: none;
}

.fileLegendItem {
  margin-left: 5px;
  border-style: solid;
  padding: 3px;
  margin: 5px;
  background-color: white;
  /* border-color: aqua; */
  border-radius: 10px 0px 10px 0px;
  font-weight: bold;
  cursor: default;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
  1px 1px 0 #000;
  color: white;
}

.mr5_1 {
  /* margin: 3px 7px; */
  margin: 0px;
  border: 0px;
  border-right: 1px solid black;
  padding: 0px 4px 0px 4px;
}

.matchInDialog {
  padding-left: 10px;
}

.fileMatchInDialog {
  font-weight: bold;
  text-decoration: underline;
}

.noSelectedNodeInResults {
  border-radius: 2px;
  border: 2px dashed red;
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  background-color: lightpink;
}

.stylingPopup {
  border: 1px solid rgb(51, 51, 51);
  border-radius: 2px;
  padding: 3px;
  background-color: white;
}

.tooltip {
  display: block;
  position: fixed;
  overflow: hidden;
  z-index: 999;
}
