
.searchInput{
  width: 20%;
  overflow: auto;
  white-space: nowrap;
}


.hljs-ln td.hljs-ln-numbers  {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* text-align: center; */
  color: #ccc;
  /* border-right: 1px solid #CCC; */
  vertical-align: top;
  padding-right: 10px;

  /* your custom style here */
  border-right: 1px solid black !important;
  text-align: left !important;
}



.main{
  display: flex;
  flex-direction: column;
  height:100%;
  margin: 0px;
}

.topbox {
  width:100%; 
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.buttonsbox {
  display: flex; flex-direction: column
}

.wrap{
  width: 100%
}
.dropdown.mr5{
  border-right: 1px solid darkblue;
  /*border:0px;*/
}

button.btn.btn-primary.dropdown-toggle{
}
.dropdown .dropdown-menu .dropdown-item label{
  margin-bottom: 0px;
}
.dropdown .dropdown-menu .dropdown-item{
  cursor: pointer;
}
span.seperator{
/* background-color: darkblue; */
/* margin-left: 4px; */
  margin-right: 4px;
  border-right: 1px solid darkblue;
/* border-left: 1px solid darkblue; */
  padding-left: 2px;
  padding-right: 2px;
}
.filer{
  display: flex;
  /*height:900px;*/
  border: 1px solid darkblue;
}

.filer #bordered{
  width: 50%;
  border-right: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
}

#filer #fileContent {
  margin: 0px; padding: 0px; width:9000px;
}

#filer #codepre {
  margin: 0px; padding: 0px; display: inline-table;
}

#fileLoadInput{
  visibility: hidden;
  width: 0px
}

button.mr5{
  margin: 0px;
  border: 0px;
  border-right: 1px solid darkblue;
  padding: 0px 4px 0px 4px;
}

button.selected {

}

input {
  border: 0px;
  border-right: 1px solid darkblue;
  margin-right:4px;
  margin-left: 4px;
}
button.left {
  border-left: 1px solid darkblue;
}



/*#nodeTitle {width:0px; height:0px; opacity: 0}*/

#nodeTitleInput {width:400px; height:100px; }
#nodeStylePopup {position: absolute; z-index: 999}

.visjs {
}
pre {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  margin: auto;
}

.w40{
  width: 40px;
}

.h100w50{
  height:100%;
  width: 50%;
}

.h100{
  flex: 1;
}

.w60p{
  width: 60px;
}

#message_box {

  height: 10%;
  width: 50%;
  position: fixed;
  bottom: 0%;
  background-color: lawngreen;
  -ms-flex-line-pack: center;
  align-content: center;
 visibility: hidden;
  z-index: 99999;
/* margin: 20px; */
  border-radius: 50px 50px 0px 0px;
  padding: 10px 50px;

}

button{
  text-transform:capitalize;
  cursor:pointer;
  background-color:white;
  border-right:1px solid darkblue;
  border: 0px;
  border-radius: 0px;
  /*border-radius: 0px 10px 10px 0px;*/
  color:darkblue;
  white-space: nowrap;
  text-align: center;
  /*transition:all ease-in 0.4s*/
}

.fileLegend {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  width: inherit;
  /* height: fit-content; */
  z-index: 999;
  background-color: white;
}

.fileLegendItem {
  margin-left: 5px;
  border-style: solid;
  padding: 3px;
  margin: 5px;
  background-color: white;
  /* border-color: aqua; */
  border-radius: 10px 0px 10px 0px;
  font-weight: bold;
  cursor: default;
}

.label {
  text-transform:capitalize;
  cursor:pointer;
  background-color:gray;
  border:1px solid darkblue;
  /*border-radius: 10px;*/
  color:white;
}



button:hover{
  background-color:darkblue;
  color:white;
}

button.active {
  background-color:darkblue;
  color:white;
}



.mr5_1{
/* margin: 3px 7px; */
  margin: 0px;
  border: 0px;
  border-right: 1px solid black;
  padding: 0px 4px 0px 4px;
}

.matchInDialog {
  padding-left: 10px
}

.fileMatchInDialog {
  font-weight: bold;
  text-decoration: underline;
}

.noSelectedNodeInResults {  
  border-radius: 2px;
  border: 2px dashed red;
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  background-color: lightpink;
}

.stylingPopup {
  border: 1px solid darkblue;
  border-radius: 2px;
  padding: 3px;
  background-color: white;
}

