@import '~styles.scss';

#fullbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: 1px solid $border-color
}

.codeviewer-topBox {
  background: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  border: none;
  flex-direction: row-reverse;
}

.fileContainer {
  margin: auto !important;
}

.fileName {
  font-weight: 900;
}

.code-viewer-button {
  margin-top: 0.3vw !important;
  margin-right: 1vw !important;
}

.file-name-label {
  border: 0.2vw solid black;
  background-color: $background-menu;
  padding: 0.5vw;
  border-radius: 0 0 15px 15px;
}
