/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

$background-menu: #ededed;
$background-secondary: #c9c9c9; /* buttons */
$background-gradient-right: #ededed; /* gradient right */
$background-gradient-left: #fdfdfd; /* gradient left */
$background-selected: #676767;




.highlight {
    background-color: yellow;
}
.marker {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.4);
}
.matchMarker {
    position: absolute;
    background-color: lightyellow;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
div.vis-network_isi {
    background-color: #2d2d2d;
}
