/* You can add global styles to this file, and also import other style files */
.highlight {
  background-color: yellow
}

.marker {
  position: absolute;
  background-color: rgba(0, 255, 0, 0.4);
}

.matchMarker {
  position: absolute;
  background-color: lightyellow;
}
