/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

$background-menu: #ededed;
$background-secondary: #c9c9c9; /* buttons */
$background-gradient-right: #ededed; /* gradient right */
$background-gradient-left: #fdfdfd; /* gradient left */
$background-gradient-top: #d5d5d5; /* gradient top */
$background-gradient-bottom: #c4c4c4; /* gradient top */
$background-selected: #676767;
$border-color: #676767;


/* p-drop down */
:host::ng-deep .ui-dropdown-panel {
  background-color: $background-menu !important;
}

:host::ng-deep label.ui-dropdown-label {
  background-color: $background-menu !important;
}

:host::ng-deep .ui-dropdown-trigger {
  background-color: $background-menu !important;
}

:host::ng-deep .ui-dropdown-list {
  background-color: $background-menu !important;
}

/* scroll bars */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $background-secondary;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: $background-gradient-bottom;
  box-shadow: inset 0 0 6px dimgray;
}


.input-wrapper {
  border-radius: 5px;
  border: $border-color 1px solid;
  height: 2.5em;
}

input {
  background: none;
  border: none;
}

.highlight {
    background-color: yellow;
}
.marker {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.4);
}
.matchMarker {
    position: absolute;
    background-color: lightyellow;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
div.vis-network_isi {
    background-color: #2d2d2d;
}
