.colorpick {
  margin: 1px;
  cursor: pointer;
  padding-left: 10px;
}

.colorpick:hover {
  padding: 10px;
  margin: 5px;
  border: 1px solid black
}

ul {
  list-style-type: none;
}


.imageButton {
  height: 30px;
  width: 30px;
  border: 1px solid darkblue;
  margin: 3px;
}

.imageButton:hover {
  height: 50px;
  width: 50px;
}
